In [4]:
#Import dependencies
import pandas as pd

#Import CSV file
file = 'Resources/data_csv.csv'

In [6]:
#Create initial dataframe
base_df = pd.read_csv(file, encoding="ISO-8859-1")

#Print to view
base_df.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson