In [1]:
#Import dependencies
import pandas as pd

#Import CSV file
file = 'Resources/data_csv.csv'

In [2]:
#Create initial dataframe
base_df = pd.read_csv(file, encoding="ISO-8859-1")

#Print to view
base_df.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [3]:
#Find all categories
base_df["category"].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SCIENTIFIC OR TECHNICAL AWARD (Class I)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class II)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class III)',
       'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)',
       'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING',
       'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION',
       'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)',
       'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)',
       'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)',
       'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)',
       'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)',
       'ART DIRECTION (Color)', 'WRITING (Original Screenplay)',
       'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MEDAL OF COMMENDATION', 'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'SCIENTIFIC OR TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC OR TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC OR TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'GORDON E. SAWYER AWARD', 'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'AWARD OF COMMENDATION',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'SCIENTIFIC AND TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC AND TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC AND TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Musical or Comedy Score)',
       'JOHN A. BONNER MEDAL OF COMMENDATION', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'SCIENTIFIC AND TECHNICAL AWARD (Special Award)'], dtype=object)

In [4]:
#Combine music score categories 
base_df['category'] = base_df['category'].replace(['MUSIC (Scoring)', 'MUSIC (Music Score of a Dramatic Picture)',
                    'MUSIC (Original Score)', 'MUSIC (Scoring of a Musical Picture)', 
                     'MUSIC (Music Score of a Dramatic or Comedy Picture)', 'MUSIC (Music Score--substantially original)',
                    'MUSIC (Original Music Score)',
                   'MUSIC (Original Score--for a motion picture [not a musical])',
                    'MUSIC (Score of a Musical Picture--original or adaptation)', 'MUSIC (Original Song Score)',
                    'MUSIC (Original Dramatic Score)', 'MUSIC (Scoring: Adaptation and Original Song Score)',
                    'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
                    'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
                    'MUSIC (Original Musical or Comedy Score)', 'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
                    'MUSIC (Original Song Score or Adaptation Score)', 'MUSIC (Adaptation Score)', 
                    'MUSIC (Scoring of Music--adaptation or treatment)'], 'MUSIC SCORE')

In [5]:
#Combine writing categories
base_df['category'] = base_df['category'].replace(['WRITING (Adaptation)', 'WRITING (Original Story)',
                    'WRITING (Screenplay)', 'WRITING (Original Screenplay)', 'WRITING (Original Motion Picture Story)',
                    'WRITING (Story and Screenplay)', 'WRITING (Screenplay--Original)', 
                    'WRITING (Story and Screenplay--based on material not previously published or produced)',
                     'WRITING (Story and Screenplay--written directly for the screen)', 
                    'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
                    'WRITING (Screenplay Adapted from Other Material)',
                    'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
                'WRITING (Screenplay Based on Material from Another Medium)', 'WRITING (Screenplay Written Directly for the Screen)',
                    'WRITING (Screenplay Based on Material Previously Produced or Published)', 'WRITING (Screenplay--based on material from another medium)',
                    'WRITING (Motion Picture Story)', 'WRITING (Adapted Screenplay)', 'WRITING (Screenplay--Adapted)'], 'WRITING')

In [6]:
#Combine Short Subject categories
base_df["category"] = base_df['category'].replace(['SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)',
       'SHORT SUBJECT (Novelty)', 'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)','SHORT SUBJECT (Two-reel)',
        'SHORT SUBJECT (Live Action)', 'SHORT SUBJECT (Animated)'] , 'SHORT SUBJECT')

In [7]:
#Combine scientific/technical award categories
base_df['category'] = base_df['category'].replace(['SCIENTIFIC OR TECHNICAL AWARD (Class I)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class II)', 'SCIENTIFIC OR TECHNICAL AWARD (Class III)',
        'SCIENTIFIC OR TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC OR TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC OR TECHNICAL AWARD (Technical Achievement Award)',
        'SCIENTIFIC AND TECHNICAL AWARD (Special Award)', 'SCIENTIFIC AND TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC AND TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC AND TECHNICAL AWARD (Technical Achievement Award)'], 'SCIENTIFIC/TECHNICAL AWARD')

In [8]:
#Combine original song categories
base_df['category'] = base_df['category'].replace(['MUSIC (Song)', 'MUSIC (Song--Original for the Picture)',
                                'MUSIC (Original Song)'], 'ORIGINAL SONG')

In [9]:
#Combine costume design categories
base_df['category'] = base_df['category'].replace(['COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)'], 'COSTUME DESIGN')

In [10]:
#Combine short film
base_df['category'] = base_df['category'].replace(['SHORT FILM (Animated)', 'SHORT FILM (Live Action)', 'SHORT FILM (Dramatic Live Action)'], 
                                'SHORT FILM')

In [11]:
#Combine directing category
base_df['category'] = base_df['category'].replace(['DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)'], 'DIRECTING')

In [12]:
#Combine documentary category
base_df['category'] = base_df['category'].replace(['DOCUMENTARY (Short Subject)', 'DOCUMENTARY (Feature)'], 'DOCUMENTARY')

In [13]:
#Combine cinematography category
base_df['category'] = base_df['category'].replace(['CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)'], 'CINEMATOGRAPHY')

In [14]:
base_df["category"].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY', 'DIRECTING',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING',
       'WRITING (Title Writing)', 'SPECIAL AWARD',
       'OUTSTANDING PRODUCTION', 'SOUND RECORDING',
       'SCIENTIFIC/TECHNICAL AWARD', 'SHORT SUBJECT',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC SCORE',
       'ORIGINAL SONG', 'DANCE DIRECTION', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE',
       'IRVING G. THALBERG MEMORIAL AWARD', 'SPECIAL EFFECTS',
       'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)',
       'DOCUMENTARY', 'OUTSTANDING MOTION PICTURE', 'BEST MOTION PICTURE',
       'COSTUME DESIGN', 'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'JEAN HERSHOLT HUMANITARIAN AWARD',
       'SOUND', 'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)', 'SHORT FILM',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MEDAL OF COMMENDATION',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)', 'MAKEUP',
       'GORDON E. SAWYER AWARD', 'SOUND EFFECTS EDITING',
       'AWARD OF COMMENDATION', 'JOHN A. BONNER MEDAL OF COMMENDATION',
       'SOUND EDITING', 'ANIMATED FEATURE FILM', 'SOUND MIXING',
       'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN'], dtype=object)

In [15]:
winner_db = base_df.loc[base_df['winner'] == True, :]
actors = winner_db.loc[winner_db['category'] == 'ACTOR', :]
actors = actors.reset_index(drop=True)
actors.head()

   year category  winner            entity
0  1927    ACTOR    True     Emil Jannings
1  1928    ACTOR    True     Warner Baxter
2  1929    ACTOR    True     George Arliss
3  1930    ACTOR    True  Lionel Barrymore
4  1931    ACTOR    True     Wallace Beery

In [16]:
actress = winner_db.loc[winner_db['category'] == 'ACTRESS', :]
actress = actress.reset_index(drop=True)
actress.head()

   year category  winner          entity
0  1927  ACTRESS    True    Janet Gaynor
1  1928  ACTRESS    True   Mary Pickford
2  1929  ACTRESS    True   Norma Shearer
3  1930  ACTRESS    True  Marie Dressler
4  1931  ACTRESS    True     Helen Hayes

In [17]:
directing = winner_db.loc[winner_db['category'] == 'DIRECTING', :]
directing = directing.reset_index(drop=True)
directing.head()

   year   category  winner           entity
0  1927  DIRECTING    True  Lewis Milestone
1  1927  DIRECTING    True    Frank Borzage
2  1928  DIRECTING    True      Frank Lloyd
3  1929  DIRECTING    True  Lewis Milestone
4  1930  DIRECTING    True           Skippy

In [18]:
music_score = winner_db.loc[winner_db['category'] == 'MUSIC SCORE', :]
music_score = music_score.reset_index(drop=True)
music_score.head()

   year     category  winner                        entity
0  1934  MUSIC SCORE    True             One Night of Love
1  1935  MUSIC SCORE    True                  The Informer
2  1936  MUSIC SCORE    True               Anthony Adverse
3  1937  MUSIC SCORE    True    One Hundred Men and a Girl
4  1938  MUSIC SCORE    True  The Adventures of Robin Hood

In [19]:
original_song = winner_db.loc[winner_db['category'] == 'ORIGINAL SONG', :]
original_song = original_song.reset_index(drop=True)
original_song.head()

   year       category  winner                     entity
0  1934  ORIGINAL SONG    True           The Gay Divorcee
1  1935  ORIGINAL SONG    True       Gold Diggers of 1935
2  1936  ORIGINAL SONG    True                 Swing Time
3  1937  ORIGINAL SONG    True            Waikiki Wedding
4  1938  ORIGINAL SONG    True  The Big Broadcast of 1938

In [20]:
writing = winner_db.loc[winner_db['category'] == 'WRITING', :]
writing = writing.reset_index(drop=True)
writing.head()

   year category  winner           entity
0  1927  WRITING    True  Benjamin Glazer
1  1927  WRITING    True        Ben Hecht
2  1928  WRITING    True       Hans Kraly
3  1929  WRITING    True    The Big House
4  1930  WRITING    True         Cimarron

In [21]:
short_subject = winner_db.loc[winner_db['category'] == 'SHORT SUBJECT', :]
short_subject = short_subject.reset_index(drop=True)
short_subject.head()

   year       category  winner                 entity
0  1931  SHORT SUBJECT    True      Flowers and Trees
1  1931  SHORT SUBJECT    True          The Music Box
2  1931  SHORT SUBJECT    True    Wrestling Swordfish
3  1932  SHORT SUBJECT    True  The Three Little Pigs
4  1932  SHORT SUBJECT    True      So This Is Harris

In [22]:
scientific_technical = winner_db.loc[winner_db['category'] == 'SCIENTIFIC/TECHNICAL AWARD', :]
scientific_technical = scientific_technical.reset_index(drop=True)
scientific_technical.head()

,year,category,winner,entity
0,1930,SCIENTIFIC/TECHNICAL AWARD,True,"To ELECTRICAL RESEARCH PRODUCTS, INC., RCA-PHO..."
1,1930,SCIENTIFIC/TECHNICAL AWARD,True,To DuPONT FILM MANUFACTURING CORP. and EASTMAN...
2,1930,SCIENTIFIC/TECHNICAL AWARD,True,To FOX FILM CORP. for effective use of synchro...
3,1930,SCIENTIFIC/TECHNICAL AWARD,True,"To ELECTRICAL RESEARCH PRODUCTS, INC. for movi..."
4,1930,SCIENTIFIC/TECHNICAL AWARD,True,"To RKO RADIO PICTURES, INC. for reflex type mi..."

In [23]:
costume_design = winner_db.loc[winner_db['category'] == 'COSTUME DESIGN', :]
costume_design = costume_design.reset_index(drop=True)
costume_design.head()

   year        category  winner                      entity
0  1948  COSTUME DESIGN    True                      Hamlet
1  1948  COSTUME DESIGN    True                 Joan of Arc
2  1949  COSTUME DESIGN    True                 The Heiress
3  1949  COSTUME DESIGN    True  The Adventures of Don Juan
4  1950  COSTUME DESIGN    True               All about Eve

In [24]:
short_film = winner_db.loc[winner_db['category'] == 'SHORT FILM', :]
short_film = short_film.reset_index(drop=True)
short_film.head()

   year    category  winner                  entity
0  1974  SHORT FILM    True          Closed Mondays
1  1974  SHORT FILM    True  One-Eyed Men Are Kings
2  1975  SHORT FILM    True                   Great
3  1975  SHORT FILM    True       Angel and Big Joe
4  1976  SHORT FILM    True                 Leisure

In [25]:
directing = winner_db.loc[winner_db['category'] == 'DIRECTING', :]
directing = directing.reset_index(drop=True)
directing.head()

   year   category  winner           entity
0  1927  DIRECTING    True  Lewis Milestone
1  1927  DIRECTING    True    Frank Borzage
2  1928  DIRECTING    True      Frank Lloyd
3  1929  DIRECTING    True  Lewis Milestone
4  1930  DIRECTING    True           Skippy

In [26]:
documentary = winner_db.loc[winner_db['category'] == 'DOCUMENTARY', :]
documentary = documentary.reset_index(drop=True)
documentary.head()

   year     category  winner                entity
0  1941  DOCUMENTARY    True    Churchill's Island
1  1942  DOCUMENTARY    True  The Battle of Midway
2  1942  DOCUMENTARY    True    Kokoda Front Line!
3  1942  DOCUMENTARY    True   Moscow Strikes Back
4  1942  DOCUMENTARY    True        Prelude to War

In [27]:
cinematography = winner_db.loc[winner_db['category'] == 'CINEMATOGRAPHY', :]
cinematography = cinematography.reset_index(drop=True)
cinematography.head()

   year        category  winner                       entity
0  1927  CINEMATOGRAPHY    True               Charles Rosher
1  1927  CINEMATOGRAPHY    True                  Karl Struss
2  1928  CINEMATOGRAPHY    True               Clyde De Vinna
3  1929  CINEMATOGRAPHY    True  With Byrd at the South Pole
4  1930  CINEMATOGRAPHY    True                         Tabu