In [1]:
#dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

import pandas as pd

In [2]:
#clean df need to import in here

In [3]:
from config import conn_str   
print(conn_str)

postgres:welcome1@localhost:5432/ohpydb

In [4]:
# connect to db
engine = create_engine(f"postgresql://{conn_str}" )
conn = engine.connect()

In [5]:
test_df = pd.read_sql("select * from genres_types", conn)
test_df.head()

   type_id  genres
0        1  Sci-Fi